rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/patients/{patientId} {
    	allow read, create, update: if request.auth != null && request.auth.uid == userId
    	allow delete: if request.auth != null && resource.data.is_seed == true;
    }
    match /users/{userId}/settings/{settingId} {
      allow read, create, update: if request.auth != null && request.auth.uid == userId;
    }
  }
}
